<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294566783188-667eugr2n1st4d61php9pba4i754814k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294566783188-667eugr2n1st4d61php9pba4i754814k</string>
	<key>API_KEY</key>
	<string>AIzaSyDIFybVGhVrsHBahS6KeNvQ7yCre0uDRIY</string>
	<key>GCM_SENDER_ID</key>
	<string>294566783188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.securax.DamageReportViewer</string>
	<key>PROJECT_ID</key>
	<string>qadamagereportsfirestore</string>
	<key>STORAGE_BUCKET</key>
	<string>qadamagereportsfirestore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294566783188:ios:a61298eeb657d66684b341</string>
	<key>DATABASE_URL</key>
	<string>https://qadamagereportsfirestore.firebaseio.com</string>
</dict>
</plist>