//
//  Prod.xcconfig
//  DamageReportViewer
//
//  Created by Greeshma Mullakkara on 08/01/20.
//  Copyright © 2020 iRestoreApp. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
v1_API =  api
v2_API =  api-qam.irestore.info
